
.form-container-password {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: 500px;
    width: 90%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f2f2f2;
    z-index: 1000;
}

#password-form {
    width: 100%;
    text-align: center;
}

#password-form h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #275431;
    margin-bottom: 20px;
}

#password-form label {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

#password-form input[type="number"] {
    width: 67%; 
    height: 40px; 
    padding: 2% 5%; 
    margin: 10px 0 10px 10%; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    text-align: left;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 80%;
    margin-left: 1%;
    box-sizing: border-box;
    padding-left: 9%; 
}

.checkbox-container input[type="checkbox"] {
    width: 22px;
    height: 22px;
    margin-right: 1px; 
}

.checkbox-container label {
    margin-left: 4% !important;
    vertical-align: middle !important;
    display: flex !important;
    align-items: center !important;
}


#password-form button {
    width: 80%; 
    padding: 12px 20px;
    margin: 20px auto; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    background-color: #275431;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
}

#password-form button:hover {
    background-color: #45a049;
}

