{% extends "layout.html" %}

{% load static %} 

{% block title %}CREATE USER{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}

<div class="form-container">
    <form id="user-form" method="post" action="{% url 'result' %}">
        {% csrf_token %}
        <h2>USER</h2>
        <label for="name">Name</label>
        <input type="text" id="name" name="name"><br>
        <label for="hobby">Hobby</label>
        <input type="text" id="hobby" name="hobby"><br>
        <label for="fecha">Fecha</label>
        <input type="date" id="date" name="fecha">
        <input type="hidden" name="source_view" value="uss"><br>
        <button type="submit">Generate User</button>
    </form>
</div>


<script src="{% static 'js/user.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    
{% endblock  %}

